.home-bg-img{
    background-image: url(https://www.cpasitesolutions.com/cpa-websites/wp-content/uploads/2024/06/local-seo-for-bookeepers-1.png);
    height: 65vh;
    background-size: 100%;
    position: relative;
    background-attachment: fixed;
}

.home-content{
text-align: center;
position: absolute;
margin-left: 450px;
margin-top: 150px;
border: 2px solid white;
padding: 30px;
background-color: rgba(202, 204, 206, 0.674);
}

.home-button{
     background-color: rgb(34, 6, 71);
    color: white;
    padding: 5px;
    border-radius: 10%;
}
.tools-img{
    height:360px;
    width: 385px;
    margin-left: 100px;
}

.home-bg-3{
    background-image: url(https://www.icu.ac.jp/en/assets/img/academics/ph_gs_ma_01.jpg);
    height: 65vh;
    background-size: 100%;
    position: relative;
     background-attachment: fixed;
}
